{#param for actual search string#}
{%set search = craft.request.getQuery('search')%}

{#Param with order option#}
{#options: defaults date desc, Date Asc, Alph Desc, Date Asc#}

{%set order = craft.request.getQuery('sort')%}
{%if order == "dateCreated asc" %}
    {%set order = "dateCreated asc"%}
{%elseif order == "title desc"%}
    {%set order = "title desc"%}
{%elseif order == "title asc"%}
    {%set order = "title asc"%}
{%else%}
    {%set order = "dateCreated desc"%}
{%endif%}


{#param for limit per page#}
{%set limit = craft.request.getQuery('number')%}
{% if limit < 1%}
    {%set limit = 5 %}
    {% elseif limit != 5 and limit != 10 and limit != 15 and limit != 20 %}
        {%set limit = 5 %}
{% endif %}





{#param for page number#}
{%set pageNum = craft.request.getQuery('page')%}
{% if pageNum  < 1%}
    {%set pageNum = 1 %}
{% endif %}

{% set resultStart =  ((pageNum -1) * limit ) %}




{# set base query (for aditional sections just ad ,'sectionName', after it)#}
{% set query = craft.entries().status('enabled').section(['project'])%}

{# set limit#}
{% set query =query.offset(resultStart) %}
{% set query =query.limit(limit) %}

{#Add Query#}
{% set query = query.search(search) %}
{% set query = query.orderBy(order) %}
{#add ordering#}

{# run the query#}
{% set searchResults = query.all() %}
{% set queryCount = query.count() %}
{% set pageCount = 1 %}
{% if((queryCount/limit) > 0) %}
        {% set pageCount=  (queryCount/limit)|round(0,'floor')+1 %}
    {% else %}
        {% set pageCount=  queryCount/limit|round(0,'floor') %}

{% endif %}
{# comute page number#}


{% extends "_layout" %}
{% set title = entry.heading %}

{% block content %}

<header>

</header>

<main role="main" class="container">

    <h1>{{ title }}</h1>
    {{entry.heading}}
    {{ entry.body }}
    {%include 'components'%}

    <div class="row">
        <div class="col-md-2">&nbsp; </div>
        <div class="col-md-8">
            <form>
                <div class="row">
                    <div class="form-group col-md-12">
                    <input class="form-control form-control-lg" type="text" id="search" name="search"value="{{search}}">
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="sort">Sort By</label>
                            </div>
                            <select class="custom-select form-control" id="sort" name="sort">
                                <option selected value="dateCreated desc"
                                        {% if  order == "dateCreated desc"%}
                                            selected
                                        {% endif %}
                                >Date &#x02193</option>
                                <option value="dateCreated asc"
                                        {% if  order == "dateCreated asc"%}
                                            selected
                                        {% endif %}
                                >Date &#x02191</option>
                                <option value="title desc"
                                        {% if  order == "title desc"%}
                                            selected
                                        {% endif %}
                                >A-Z &#x02193</option>
                                <option value="title asc"
                                        {% if  order == "title asc"%}
                                            selected
                                        {% endif %}
                                >A-Z &#x02191</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="number">Results per Page</label>
                            </div>
                            <select class="custom-select form-control" id="number" name="number">
                                <option value="5"
                                        {#if 5 = selected#}
                                        {% if limit == 5 %}
                                            selected
                                        {% endif %}
                                >5</option>
                                <option value="10"
                                        {% if limit == 10 %}
                                            selected
                                        {% endif %}
                                >10</option>
                                <option value="15"
                                        {% if limit == 15 %}
                                            selected
                                        {% endif %}
                                >15</option>
                                <option value="20"
                                        {% if limit == 20 %}
                                            selected
                                        {% endif %}
                                >20</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-12 searchButtonCol">
                        <button type="submit" class="btn btn-primary btn-lg searchPageButton">Search</button>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-md-2">&nbsp; </div>
    </div>

    <!--results row-->
    <div class="row resultsContainer">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
        {{ _self.results(searchResults) }}
        </div>
        <div class="col-md-2">&nbsp;</div>

    </div>
    {{ _self.pageNums(search,order,limit,pageNum,resultStart,queryCount,pageCount) }}

    <!--page row-->





</main>

<!--macros for the search results-->
{%macro results(results)%}
    {%  for result in results%}
        {%if   result.type.name == "Project"%}
            {{ _self.projectResultRow(result) }}

        {% else %}
            {{ _self.resultRow(result) }}
        {%endif %}

    {% endfor %}
{%endmacro%}

{%macro resultRow(result)%}
    <div class="row">
        <!--image-->
        <div class="col-md-4">

        </div>
        <!--title as link-->
        <div class="col-md-4">

        </div>
        <!--description-->
        <div class="col-md-4">

        </div>
    </div>

{%endmacro%}
{%macro projectResultRow(result)%}
    {% set descriptiveFields = result.projectDescriptiveFields.one()%}
    {% set descriptiveImage =  descriptiveFields.descriptiveImage.one()%}
    <div class="row searchResultRow">
        <!--image-->
        <div class="col-md-4 searchEntryImage">
            <img class="img-fluid" src="{{descriptiveImage.url}}" alt="{{descriptiveImage.title}}">

        </div>
        <!--title as link-->
        <div class="col-md-4 searchEntryTitle">
            <h5><a href="{{result.url}}">{{ result.title }}</a></h5>

        </div>
        <!--description-->
        <div class="col-md-4 searchEntryDescription">
            <h5>{{ descriptiveFields.shortDescription }}</h5>

        </div>
    </div>
{%endmacro%}

    {% macro pageNums(search,order,limit,pageNum,resultStart,queryCount,pageCount) %}
        {% set i = 0 %}
        <div class="row searchPageRow">
            <div class="col-md-2 searchPageBarSpacer"></div>
            <div class="col-md-8 searchPageBar">

        {##}
            {#Back arrow#}
            {% if pageCount > 1 %}
                {% if pageNum == 1 %}
                    <
                    {% else %}

                    <a class="" href="{{ siteUrl }}/search?search={{search}}&sort={{ order}}&page={{ pageNum-1 }}"><</a>
                {% endif %}

            {% endif %}

        {% for i in 1..pageCount %}

            {% if i == pageNum %}
                {{ i }}
                {% else %}
                <a class="" href="{{ siteUrl }}/search?search={{search}}&sort={{ order}}&page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

            {#forward arrow#}
            {% if pageCount > 1 %}
                {% if pageCount == pageNum%}
                    >
                    {% else%}
                        <a class="" href="{{ siteUrl  }}/search?search={{search}}&sort={{ order}}&page={{ pageNum+1 }}"> > </a>
                {% endif %}
            {% endif %}
            </div>
            <div class="col-md-2 searchPageBarSpacer"></div>
        </div>

    {% endmacro %}
{% endblock %}

