{% set entryQuery = craft.entries()
.section('navigation')%}
{% set entries = entryQuery.all() %}

<!--create arrays-->
{%set navItems = []%}


<!--{# get entries #}-->
{%for entry in entries%}
    {%set items = []%}
    {%set mainItem = entry.mainItem.first() ?? null %}
    {%set childItems = entry.childItem.all() ?? null %}

    <!--merge child items to main items into an array and then add to a single array-->
    <!--[1 mainItem [x ChildItem]]-->

    {%set items = items|merge({'main':mainItem})%}
    {%set items = items|merge({'children':childItems})%}

    {%set navItems = navItems|merge([items])%}
{%endfor%}



<div class = "row ">
<div class="col-md-2 navbar navbar-expand-md navbar-dark  nav-spacer"></div>
<nav class="navbar navbar-expand-md navbar-dark  col-md-8">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row  navbar-collapse text-center navbarMain">






            <!--Output main items-->
            {%for navItem in navItems%}
            <div class="col-sm-2 mainNavItem">

                <!--if no child items-->
                {%if navItem['children'][0] is not defined%}
                    {%set url = ""%}
                    {%if navItem['main'].itemEntry|length%}
                        {%set url = navItem['main'].itemEntry.first().url%}
                    {%endif%}
                    <a href="{{url}}">{{navItem['main'].itemTitle}}</a>
                    {%else%}
                    <!--if child items-->
                    <a href="" class="{{navItem['main'].itemTitle}}--parent" >{{navItem['main'].itemTitle}}</a>
                {%endif%}
            </div>
            {%endfor%}








    </div>
</nav>
<div class="col-md-2 navbar navbar-expand-md navbar-dark nav-spacer"></div>
</div>
<!--Output Child items-->
{%for navItem in navItems%}
{%if navItem['children'][0] is defined%}
<div class="childrenNavItems {{navItem['main'].itemTitle}}--child hiddenNavRow">


    <!--loop through children-->
    {%for child in navItem['children']%}
        <!--child title-->
        {%set childTitle = child.childTitle%}
        <!--set image-->
        {%set childImage ="rev('/images/missing.png')"%}
        {%if child.childAsset is defined%}
            {%set childImage = child.childAsset.one().url()%}
        {%endif%}

        <!--set child details-->
        {%set childDetails =""%}
        {%if child.childDescription%}
            {%set childDetails = child.childDescription%}
        {%endif%}

        <!--child link-->
        {%set childLink = ""%}
        {%if child.childEntry%}
            {%set childLink = child.childEntry.one().url()%}
        {%endif%}

        <div class="row childNavRow">
            <div class="col-sm-3 childNavImageBox">
                <img src="{{childImage}}" class="childNavImage img-responsive" load="lazy">

            </div>
            <div class="col-sm-3 childNavDetails">
            {{childDetails}}

            </div>
            <div class="col-sm-6 childNavLink">
                <a href="{{childLink}}" class="childNavLink">{{childTitle}}</a>
            </div>
        </div>
    {%endfor%}


</div>
{%endif%}
{%endfor%}

<!--macro to generate mobil nav-->

